kafka:
  name: kafka

  replicas: 1

  image:
    repository: confluentinc/cp-kafka
    tag: "7.5.0"
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    ports:
      broker: 9092
      controller: 9093

  persistence:
    enabled: true
    storageClass: "standard"
    size: 2Gi

  resources:
    requests:
      memory: 512Mi
      cpu: 256m
    limits:
      memory: 1024Mi
      cpu: 512m
  env:
    clusterId: "MkU3OEVBNTcwNTJENDM2Qk"
    offsetsReplicationFactor: 1
    transactionReplicationFactor: 1
    autoCreateTopics: "true"

kafkaUi:
  replicas: 1

  image:
    repository: provectuslabs/kafka-ui
    tag: "latest"
    imagePullPolicy: Always

  service:
    type: ClusterIP
    port: 8080

  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 200m