apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: ecommerce-postgres-connector
  namespace: kafka
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  class: io.debezium.connector.postgresql.PostgresConnector
  tasksMax: 1
  config:
    database.hostname: database-postgresql.database.svc.cluster.local
    database.port: "5432"
    database.user: debezium_user
    database.password: debezium_password
    database.dbname: ecommerce_db
    database.server.name: ecommerce_server
    
    # Table configuration
    table.include.list: public.ecommerce_events

    plugin.name: pgoutput
    slot.name: debezium_slot
    publication.name: dbz_publication
    publication.autocreate.mode: all_tables
    
    # Topic configuration
    topic.prefix: ecommerce
    
    # Schema history
    schema.history.internal.kafka.bootstrap.servers: kafka-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092
    schema.history.internal.kafka.topic: schema-changes.ecommerce_db
    
    # Transformations
    transforms: unwrap,route
    transforms.unwrap.type: io.debezium.transforms.ExtractNewRecordState
    transforms.unwrap.drop.tombstones: "false"
    transforms.unwrap.delete.handling.mode: rewrite
    transforms.unwrap.add.fields: op,source.ts_ms
    transforms.route.type: org.apache.kafka.connect.transforms.RegexRouter
    transforms.route.regex: ecommerce_server.public.ecommerce_events
    transforms.route.replacement: ecommerce_batch_topic
    
    # Converters
    key.converter: org.apache.kafka.connect.json.JsonConverter
    value.converter: org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable: "false"
    value.converter.schemas.enable: "false"

