replicaCount: 1

image:
  repository: postgres
  tag: "15"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5432

postgres:
  db: airflow
  user: admin
  password: password

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 2Gi
  storageClass: ""

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

