executor: "KubernetesExecutor"

postgresql:
  image:
    repository: bitnami/postgresql
    tag: latest
    pullPolicy: IfNotPresent
  enabled: true
  auth:
#    username: "airflow"
#    password: "airflow"
#    database: "airflow"
    existingSecret: airflow-secret
    usernameKey: postgres-user
    passwordKey: postgres-password
    databaseKey: postgres-db
  persistence:
    enabled: true
    size: 2Gi
    storageClass: standard

flower:
  enabled: false

logs:
  persistence:
    enabled: false

scheduler:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

triggerer:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

webserver:
  defaultUser:
    enabled: false
  serviceAccount:
    create: true
    name: "airflow-webserver"

dags:
  gitSync:
    enabled: false
  persistence:
    enabled: false

extraVolumes:
  - name: dags-local
    configMap:
      name: airflow-dag
    # hostPath:
    #   path: /mnt/dags
    #   type: Directory

extraVolumeMounts:
  - name: dags-local
    mountPath: /mnt/dags
    #mountPath: /opt/airflow/dags
    readOnly: true

serviceAccount:
  create: true
  name: airflow-sa
rbac:
  create: true

env:
  - name: AIRFLOW__KUBERNETES__DELETE_WORKER_PODS
    value: "False"