image:
  repository: bitnami/postgresql
  tag: latest
  pullPolicy: IfNotPresent

auth:
  enablePostgresUser: true
  username: ecommerce_user
  password: ecommerce_password
  database: ecommerce_db

postgresqlConfiguration:
  wal_level: logical
  max_wal_senders: 4
  max_replication_slots: 4

primary:
  persistence:
    enabled: true
    size: 1Gi
  storageClassName: standard
  
  resources:
    requests:
      cpu: "200m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

tls:
  enabled: false

volumePermissions:
  enabled: true

metrics:
  enabled: true
  serviceMonitor:
    enabled: false

service:
  type: ClusterIP
  port: 5432


initdbScripts:
  init-debezium.sql: |
    CREATE USER debezium_user WITH REPLICATION PASSWORD 'debezium_password';

    GRANT CONNECT ON DATABASE ecommerce_db TO debezium_user;
    GRANT USAGE ON SCHEMA public TO debezium_user;
    GRANT SELECT ON ALL TABLES IN SCHEMA public TO debezium_user;
    ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO debezium_user;

    CREATE TABLE IF NOT EXISTS ecommerce_events (
        id SERIAL PRIMARY KEY,
        event_time TIMESTAMP NOT NULL,
        event_type VARCHAR(50) NOT NULL,
        product_id BIGINT,
        category_id BIGINT,
        category_code VARCHAR(255),
        brand VARCHAR(255),
        price DECIMAL(10, 2),
        user_id BIGINT,
        user_session VARCHAR(255)
    );

    CREATE INDEX IF NOT EXISTS idx_event_time ON ecommerce_events(event_time);
    CREATE INDEX IF NOT EXISTS idx_user_id ON ecommerce_events(user_id);

