apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "kafka.name" . }}
  labels:
    {{ include "kafka.labels" . | nindent 4 }}
    component: kafka
spec:
  serviceName: {{ include "kafka.name" . }}-headless
  replicas: {{ .Values.kafka.replicas }}
  selector:
    matchLabels:
      {{ include "kafka.selectorLabels" . | nindent 6 }}
      component: kafka
  template:
    metadata:
      labels:
        {{ include "kafka.selectorLabels" . | nindent 8 }}
        component: kafka
    spec:
      containers:
        - name: kafka
          image: {{ .Values.kafka.image.repository }}:{{ .Values.kafka.image.tag }}
          imagePullPolicy: {{ .Values.kafka.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.kafka.service.ports.broker }}
              name: broker
            - containerPort: {{ .Values.kafka.service.ports.controller }}
              name: controller
          command: [ "sh", "-c" ]
          args:
            - |
              export KAFKA_NODE_ID=$(hostname | awk -F'-' '{print $NF}');
              exec /etc/confluent/docker/run
          resources: {{ toYaml .Values.kafka.resources | nindent 12 }}
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: CLUSTER_ID
              value: {{ .Values.kafka.env.clusterId | quote }}
            - name: KAFKA_PROCESS_ROLES
              value: "broker,controller"
            - name: KAFKA_NODE_ID
              value: "$(MY_POD_NAME##*-)"
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "0@{{ include "kafka.name" . }}-0.{{ include "kafka.name" . }}-headless:{{ .Values.kafka.service.ports.controller }}"
            - name: KAFKA_LISTENERS
              value: "PLAINTEXT://:{{ .Values.kafka.service.ports.broker }},CONTROLLER://:{{ .Values.kafka.service.ports.controller }}"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "PLAINTEXT://$(MY_POD_NAME).{{ include "kafka.name" . }}-headless:{{ .Values.kafka.service.ports.broker }}"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"
            - name: KAFKA_NUM_PARTITIONS
              value: "1"
            - name: KAFKA_DEFAULT_REPLICATION_FACTOR
              value: {{ .Values.kafka.replicas | quote }}
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: {{ .Values.kafka.env.offsetsReplicationFactor | quote }}
            - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
              value: {{ .Values.kafka.env.transactionReplicationFactor | quote }}
            - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
              value: "1"
            - name: KAFKA_MIN_IN_SYNC_REPLICAS
              value: "2"
            - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
              value: {{ .Values.kafka.env.autoCreateTopics | quote }}
          {{- if .Values.kafka.persistence.enabled }}
          volumeMounts:
            - name: data
              mountPath: /var/lib/kafka/data
          {{- end }}
  {{- if .Values.kafka.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        {{- if .Values.kafka.persistence.storageClass }}
        storageClassName: {{ .Values.kafka.persistence.storageClass }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.kafka.persistence.size }}
  {{- end }}