namespace: kafka

kafkaServer:
  - kafka-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092

service:
  name: kafka-exporter
  type: ClusterIP
  port: 9308

prometheus:
  serviceMonitor:
    enabled: true
    namespace: monitoring
    interval: 15s
    labels:
      release: prometheus

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 30
  timeoutSeconds: 5

readinessProbe:
  enabled: true
  initialDelaySeconds: 15
  periodSeconds: 15
  timeoutSeconds: 5
